# Backend (Eclipse / Java / Spring Boot)
BACKENDSDPWORKSPACE/target/
BACKENDSDPWORKSPACE/.classpath
BACKENDSDPWORKSPACE/.project
BACKENDSDPWORKSPACE/.settings/
BACKENDSDPWORKSPACE/*.log
BACKENDSDPWORKSPACE/*.jar
BACKENDSDPWORKSPACE/*.war
